/*==================================================
Template:	OWMX-7
Resource:	http://owmx.com/templates/owmx-7
Date:	2011-02-15
Editor:	Jonas Jacek
		http://jabz.net/contact/jonas-jacek
License:	CC Attribution-Share Alike 3.0 Unported
==================================================*/

/* Reset */
header, footer, article, nav, section, aside, time, hgroup {
	display : block;
	}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td {
	border : 0;
	font : 12px/22px Verdana, sans-serif;
	margin : 0;
	outline : 0;
	padding : 0;
	}

/* BODY */
BODY {
	border-top : 10px solid #CCC;
	color : #333;
	}

/* LINKS */
A {
	color : #1C60BD;
	text-decoration : none;
	}
	A:HOVER {
		color : #D21E70;
		}
	*:TARGET {
  		color : #FF9900;
		}

/* HEADLINES */
H1, H3, H4, H5, H6 {
	color : #4444FF; //#D21E70;
	font-weight : normal;
	margin : 0 0 15px 0;
	padding : 0 0 15px 0;
	text-align : center;
	}
	H1 {
		background : url(../images/hr.png) no-repeat 0 22px;
		font-size : 15px;
		padding : 0 0 10px 0;
		}
	H2 {
		font-size : 14px;
		margin : 0 0 20px 0;
		}
	H3 {
		border-bottom : 1px dotted #999;
		font-size : 13px;
		margin : 20px 0 15px 0;
		padding : 0;
		}
	H4, H5, H6 {
		background : url(../images/hr2.png) no-repeat 0 22px;
		font-size : 14px;
		margin : 0 0 10px 0;
		width : 250px;
		}

/* DIVERSE TAGS */
ABBR {
	border-bottom : 1px dotted #BBB;
	cursor : help;
	}
HR {
	background : url(../images/hr.png) no-repeat 0 0;
	border : 0;
	height : 5px;
	margin : 0 0 20px 0;
	}
SUP {
	top : -4px;
	}

/* BORDER RADIUS */
.highlight-1, .highlight-2, .highlight-3, footer, .meta, .meta li a, article form, pre code {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}

/* Header */
header {
	background : url(../images/_hdr.jpg) no-repeat 0 0;
	height : 170px;
	padding : 0 10px;
	position : relative;
	}
	header a {
		color : #555;
		font-size : 24px;
		left : 100px;
		position : absolute;
		top : 30px;
		}
		header a strong {
			color : #666;
			font-weight : normal;
			}
	header a:hover, header a:hover strong {
		color : #D21E70;
		}
	header p {
		color : #333;
		left : 100px;
		position : absolute;
		top : 50px;
		}

/* Article */
article {
	float : right;
	height : auto;
	width : 470px;
	}
	article p {
		margin : 0 0 20px 0;
		}
	article img {
		background : #FFF;
		border : 1px solid #A9A796;
		float : left;
		margin : 2px 10px 2px 0;
		padding : 1px;
		}

/* Highlighted Paragraphs */
.highlight-1, .highlight-2, .highlight-3 {
	padding : 5px 10px;
	}
	.highlight-1 {
		background : #FFCCCC;
		border : 1px dotted #FF9966;
		}
	.highlight-2 {
		background : #FFFF99;
		border : 1px dotted #FFCC33;
		}
	.highlight-3 {
		background : #CCFF99;
		border : 1px dotted #CCCC33;
		}

/* Citations & Quotes */
cite {
	border-left: 2px solid #CCC;
	color : #000;
	font-size : 10px;
	font-style : normal;
	font-weight : bold;
	margin : 0;
	padding : 5px 10px;
	}

blockquote {
	border-left: 2px solid #CCC;
	color : #222;
	font-style : italic;
	margin : 0 0 25px 0;
	padding : 5px 10px;
	}

/* Pre & Code */
pre {
	color : #333;
	font-size : 10px;
	line-height : 15px; /*--Height of each line of code--*/
	overflow : hidden; /*--If the Code exceeds the width, put "auto" and scrolling is available--*/
	overflow-Y : hidden;  /*--Hides vertical scroll created by IE--*/
	}
	pre code {
		background : #EEE;
		border : 1px dotted #CCC;
		border-left : 2px solid #CCC;
		margin : 0 0 20px 0;
		padding : 5px;
		display : block;
		}

/* Table */
table {
	border-collapse : collapse;
	text-align:left;
	margin : 0 0 25px 0;
	}
	caption {
		border-bottom : 2px solid #BBB;
		color : #333;
		font-weight : bold;
		margin : 0 0 1px 0;
		}
	tr:nth-child(odd) {
		background : #FFF;
		}
	tr:nth-child(even) {
		background : #E5E5E5;
		}
	tr:hover td {
		background : #CCC;
		color : #000;
		}
	td, th {
		border-top : 1px solid #BBB;
		min-width : 120px;
		padding : 0 5px;
		vertical-align:top;
		}
	th {
		background-image : -webkit-gradient(linear,left bottom,left top,color-stop(0.50, #FFF),color-stop(1, #CCC));
		background-image : -moz-linear-gradient(center bottom,#FFF 50%,#CCC 100%);
		border-bottom : 2px solid #BBB;
		color : #444;
		font-size : 10px;
		font-weight : bold;
		}
	td {
		border-bottom : 1px solid #CCC;
		font-size : 10px;
		}

/* Calendar */
dl.vevent {
	margin : -20px 0 25px 0;
	padding : 0;
	}
	.vevent dt {
		font-size : 10px;
		position : relative;
		left : 0;
		top : 22px;
		font-weight : bold;
		}
	.vevent dd {
		border-left : 2px solid #CCC;
		font-size : 11px;
		margin : 0 0 0 80px;
		padding : 0 0 0 10px;
		}
	dd.summary {
		font-weight : bold;
		}
	.vevent a {
		font-size : 11px;
		}

/* Lists */
article ul, aside ul {
	list-style : none;
	margin : 0 0 20px 0;
	}
	article ul {
		margin : 0 0 20px 23px;
		}
	article ul li {
		background : url(../images/ai2.png) no-repeat 0 8px;
		padding : 0 0 0 17px;
		}

/* Sidebar */
aside {
	float : left;
	margin : 0 0 25px 0;
	width : 250px;
	}
	aside ul {
		padding : 0 5px;
		}

/* Navigation & Menu */
nav ul {
	list-style : none;
	margin : 0 0 25px 5px;
	}
	nav li {
		background : url(../images/ai1.png) no-repeat 0 8px;
		padding : 0 0 0 15px;
		}
	nav li ul, aside li ul li ul {
		margin : 0;
		}
	nav li li a {
		font-size : 11px;
		}
	nav li li li a {
		font-size : 10px;
		}
	nav li li li, aside li.active li li {
		background : url(../images/ai8.png) no-repeat 0 10px;
		}
	nav li.active, aside li.active li {
		background : url(../images/ai2.png) no-repeat 0 8px;
		}

/* Gallery */
.gallery {
	list-style : none;
	margin : 0 0 20px;
	}
	.gallery li {
		display: inline;
		margin : 0 4px 0 0;
		}
	.gallery a {
		border : none;
		}
	.gallery a img {
		border : 1px solid #999;
		height : 50px;
		padding : 1px;
		width : 50px;
		}
	.gallery li:last-child {
		margin : 0;
		}
	.gallery a img:hover {
		border : 1px solid #D21E70;
		}

/* Ad Space */
.adspace {
	height : 100%;
	margin : 0 0 25px 0;
	}
	.adspace a {
		border : none;
		}
	.adspace a img {
		border : none;
		}

/* Tag Cloud */
#tagcloud {
	overflow : hidden;
	width : 250px;
	}
	#tagcloud li {
	display : inline;
	position : horizontal;
	margin : 0;
		}
		.tagcloudsize-1 a {
			font-size : 14px;
			}
		.tagcloudsize-2 a {
			font-size : 16px;
			}
		.tagcloudsize-3 a {
			font-size : 18px;
			}

/* Footer */
footer {
	background : #CCC;
	clear : both;
	margin : 20px 0;
	padding : 0 10px;
	}
	footer a, footer p {
		color : #666;
		display : inline;
		font-size : 10px;
		}

/* Wrappers */
#a, #b {
	margin : 0 auto;
	position : relative;
	}
	#a {
		width : 800px;
		}
	#b {
		overflow : hidden;
		}

/* Shadow-Boxes*/
.meta {
	background : #E5E5E5;
	border : 1px solid #CCC;
	padding : 2px 5px 5px 5px;
	}
	.meta p, .meta a {
		font-size : 10px;
		margin : 0;
		}
	.meta ul {
		margin : 0;
          padding : 0;
		}
	.meta li {
		background : none;
		display : inline;
		padding : 0 5px 0 0;
		}
		.meta li a {
			background : #CCC;
			border : 1px solid #BBB;
			padding : 0 5px 2px 5px;
			}

/* Sidebar Profile */
#c {
	margin : 0 0 25px 0;
	}
	#c p, #c a {
		font-size : 11px;
		line-height : 15px;
		}
	#c p {
		margin : 0 0 10px 0;
		}
	#c img {
		background : #FFF;
		border : 1px solid #A9A796;
		float : left;
		margin : 2px 10px 2px 0;
		padding : 1px;
		}
	#c b {
		color : #444;
		}

