/* 
    Document   : analytics
    Created on : Jan 6, 2014, 1:43:25 AM
    Author     : Jugal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.resultSet{
    max-height:600px;
    overflow-y:auto;
}

.chartContainer{
    height:500px;

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

a{
    cursor:pointer;
}

.panel .badge{
    margin:8px;
}

/* Custom container */
/*.container-full {
    margin: 0 auto;
    width: 100%;
}*/



@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1550px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1750px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 95%;
    }
}

/*
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;    
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;    
}*/


.filterItems.ng-move,
.filterItems.ng-enter,
.filterItems.ng-leave {
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
    border-style: double;
    border-width: 1px;
    border-color:lightgrey;
}



.filterItems.ng-leave.ng-leave-active,
.filterItems.ng-enter {
    opacity: 0;
    /*    border-color: greenyellow;
        border-width: 2px;
        border-style: dashed;*/

}

.filterItems.ng-leave,
.filterItems.ng-enter.ng-enter-active {
    opacity: 1;    
    /*    border-color:  red;
        border-width: 2px;
        border-style: dashed;*/
}

.filterItems.ng-move.ng-move-active

{

    /*    border-color: greenyellow;
        border-width: 2px;
        border-style: dashed;*/

}

.filterItems.ng-move{

    /*    border-color:  red;
        border-width: 2px;
        border-style: dashed;*/
}