/* Put your CSS here */
#home .masthead {
    background-image: url(images/bg.jpg);

}
@media only screen and (min-width: 1920px) {
    .ui.page.grid {
        width: auto;
        margin-left: 0em;
        margin-right: 0em;
        padding-left: 15%;
        padding-right: 15%;
    }
}

#home .masthead .image {
    bottom: -15px;
}

.ui.menu .item{
    vertical-align: middle;
}

#home .vertical.segment {
    padding: 6rem 0rem;
}

#examInputs > div{
    max-width: 480px;
    margin: 10px auto;
}


#result.hidden{
    display:none;    
}

#result .hidden{
    display:none;    
}

.menu .header{
    text-align:center;
}

.ui.menu .item .icon {
    font-size: 3.4rem;
}

.ui.inverted.menu,.ui.inverted.menu .header.item{
    background-color: #000;
}

.ui.menu .item {
    padding: .5em .5em;    
    width:auto;
    font-size: xx-small;
}

.ui.inverted.menu .header.item.title
{
    padding: 0px;
    margin-top: 5px;
}

.ui.menu .title.item {    
    width:50px;    
}

/*.fixed.menu img{
    width: 30px;
}*/

