<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/json
</ifmodule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /murt/


RewriteRule exams/([0-9]+)/(.*) ExamDetails.php?exam_id=$1
RewriteRule result/([0-9]+)/(.*) ExamDetails.php?exam_id=$1
RewriteRule ([0-9]+)/(.*) ExamDetails.php?exam_id=$1

RewriteRule ^JS/all.php redir.php?_escaped_fragment_=/results/300 
RewriteRule ^android(.*)$ redir.php?_escaped_fragment_=/android
RewriteRule ^visualization(.*)$ redir.php?_escaped_fragment_=/visualization
RewriteRule ^SL(.*)$ redir.php?_escaped_fragment_=/
RewriteRule ^JS(.*)$ redir.php?_escaped_fragment_=/
RewriteRule ^beta(.*)$ redir.php?_escaped_fragment_=/
RewriteRule ^mobile(.*)$ redir.php?_escaped_fragment_=/

</IfModule>
