<div id="messages">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>     

<div class="row"  ng-show="loaded && !filterMode">

    <div class="col-xs-12">
        <div class="row">
            <div class="btn-toolbar col-xs-6 pull-right" role="toolbar" >                
                <button class="btn btn-primary pull-right" ng-click="filter()"><span class="glyphicon glyphicon-filter"></span> Filter Results</button>
                <div class="btn-group  pull-right" ng-show="isStackable">            
                    <button type="button" class="btn btn-default" ng-model="isStacked" btn-radio="true">Stacked</button>
                    <button type="button" class="btn btn-default" ng-model="isStacked" btn-radio="false">Grouped</button>
                </div>  

            </div>
        </div>
        <tabset>

            <tab ng-repeat="tab in tabs" heading="{{tab.header}}" active="tab.active" disabled="tab.disabled" select="showTab(tab)">            
                <div murt-chart results="selectedResults" config="tab.config" ></div>
            </tab>
            <tab select="disableStacking()" >
                <tab-heading>
                    <span class="glyphicon glyphicon-plus"></span>
                </tab-heading>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Select custom chart options & hit Go!</strong>
                    </div>
                    <div class="panel-body">
                        <p><em>I wish to plot Results by</em>                            </p>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{customGroupDefintion.groupA| uppercase}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="option in groupingOptions" ><a href="#" ng-click="setGroupA(option)">{{option| uppercase}}</a></li>
                            </ul>
                        </div>
                        &AMP;
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{customGroupDefintion.groupB| uppercase}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="option in groupingOptions" ><a href="#" ng-click="setGroupB(option)">{{option| uppercase}}</a></li>
                            </ul>                                    
                        </div>
                        <button type="button" class="btn btn-default btn-success" ng-click="addChart(customGroupDefintion, selectedResultsFiltered)">Go!</span>
                        </button>
                    </div>
                </div> 
            </tab>
        </tabset>  
    </div>
</div>

<div class="row" ng-show="loaded && filterMode">

    <div class="col-xs-12">
        <div murt-result-filter all-items="allResults" filtered-items="selectedResults" title-property="'ExamName'" cancel="filterCancel()" save="filterSave()"></div>
    </div>
</div>
